<ion-header class="commom-color">
  <ion-navbar *ngIf="color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [style.background]="color">List</ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="segment1">
        Today's Deals
      </ion-segment-button>
      <ion-segment-button value="segment2">
        Sell
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'segment1'">
<ion-grid style="background: #c1bfbf;">
      <div *ngIf="list_items && config">
        <div *ngFor="let x of list_items">
          <ion-item-sliding *ngFor="let item of x">
            <ion-item>
              <ion-thumbnail item-start *ngIf="config.icon_image">
                <img [src]="config.icon_image">
              </ion-thumbnail>
              <!-- <ion-thumbnail item-start *ngIf="config.number_circle">
                              <ion-icon class="numberCircle">{{item.title | slice:0:2}}</ion-icon>
                            </ion-thumbnail> -->
              <h2>{{item.title}}</h2>
              <p>{{item.description}}</p>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button (click)="presentModal(item)">View</button>
              <button ion-button color="danger" (click)="Delete(item)">Delete</button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </div>

      <div *ngIf="card_items && config">
        <div *ngFor="let x of card_items">
          <ion-card *ngFor="let item of x" (click)="presentModal(item)">
            <!-- <img [src]="config.icon_image" /> -->
            <img [src]="item.image" /> 
            <ion-card-content>
              <ion-card-title>
                {{item.title}}
              </ion-card-title>
              <p>
                {{item.description}}
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div *ngIf="tile_grid_list && config">
        <div *ngFor="let grid of tile_grid_list">
          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row wrap class="ionrow" *ngFor="let row of grid">
                  <ion-col col-6 *ngFor="let data of row" (click)="presentModal(data)">
                    <div *ngIf="data">
                      <img [src]="config.icon_image">
                      <h2>{{data.title}}</h2>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div *ngIf="icon_list_items && config">
        <div *ngFor="let x of icon_list_items">
          <ion-card>
            <ion-card-header>
              Deals recommended for you
            </ion-card-header>

            <ion-list>
              <button ion-item *ngFor="let item of x" (click)="presentModal(item)">
                <ion-avatar item-start *ngIf="config.icon_image">
                  <img [src]="item.image">
                </ion-avatar>
                {{item.title}}
              </button>
            </ion-list>
          </ion-card>
        </div>
      </div>

      <div *ngIf="slide_items && config">
        <div *ngFor="let x of slide_items">
          <ion-card>
            <ion-slides pager style="height: 150px;">
              <ion-slide style="background-color: rgb(237, 238, 237)" *ngFor="let item of x" (click)="presentModal(item)">
                <img [src]="config.icon_image" class="slide_img" />
              </ion-slide>
            </ion-slides>
          </ion-card>
        </div>
      </div>
    </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'segment2'">

      <ion-grid style="background: #c1bfbf;">
        <ion-card style="height: 150px;">
          <img src="assets/imgs/41R9FArsBDL._AC_SY200_.jpg" />
          <div class="card-title">São Paulo</div>
          <div class="card-subtitle">41 Listings</div>
        </ion-card>

        <ion-card>
          <ion-slides pager style="height: 150px;">
            <ion-slide style="background-color: rgb(237, 238, 237)">
              <img src=" assets/imgs/2_DB_440x200_Women_Accessories_April18._CB502513614_.jpg" />
            </ion-slide>
            <ion-slide style="background-color: rgb(237, 238, 237)">
              <img src="assets/imgs/1057873_us_pc_hardware_siggraph_gw_desktop_billboard_440x200._CB505202194_.jpg" />
            </ion-slide>
            <ion-slide style="background-color: rgb(237, 238, 237)">
              <img src="assets/imgs/1_BD_440x200_Gift_April18._CB502503690_.jpg" />
            </ion-slide>
          </ion-slides>
        </ion-card>

        <ion-card>
          <ion-card-header>
            Deals recommended for you
          </ion-card-header>
          <ion-list>
            <button ion-item>
              <ion-avatar item-start *ngIf="config.icon_image">
                <img [src]="config.icon_image">
              </ion-avatar>
              Vehicle
            </button>
            <button ion-item>
              <ion-avatar item-start *ngIf="config.icon_image">
                <img [src]="config.icon_image">
              </ion-avatar>
              Vehicle
            </button>
            <button ion-item>
              <ion-avatar item-start *ngIf="config.icon_image">
                <img [src]="config.icon_image">
              </ion-avatar>
              Vehicle
            </button>
            <button ion-item>
              <ion-avatar item-start *ngIf="config.icon_image">
                <img [src]="config.icon_image">
              </ion-avatar>
              Vehicle
            </button>
          </ion-list>
        </ion-card>
      </ion-grid>

    </ion-list>

  </div>

  <!-- <ion-list>
      <ion-item-sliding *ngFor="let item of items">
        <ion-item *ngIf="config">
          <ion-avatar item-start *ngIf="config.icon_image && config.icon && !config.number_circle">
            <img [src]="config.icon_image">
          </ion-avatar>
          <ion-avatar item-start *ngIf="config.number_circle">
            <ion-icon class="numberCircle">{{item.title | slice:0:2}}</ion-icon>
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="presentModal(item)">View</button>
          <button ion-button color="danger" (click)="Delete(item)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> -->

  <button ion-button (click)="person()" block hidden="true">Add Person</button>



</ion-content>