page-welcome {
    #welcome{
        h1{
            font-size: 25px;
            margin-top:50px;
            text-align: center
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 40%;
        }
    }
}
