<ion-header>
  <ion-navbar *ngIf="color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [style.background]="color">New Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="logForm()">

    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Category Name</ion-label>
      <ion-textarea [(ngModel)]="todo.category" name="category"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="config">
      <ion-label stacked>Priority</ion-label>
      <ion-select [(ngModel)]="todo.priority" name="priority">
        <ion-option *ngFor="let prio of config.priority" [value]="prio">{{prio}}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button type="submit" block>Add Item</button>
  </form>

  <ion-item>
      <p>{{imageURI}}</p>
      <button ion-button color="secondary" (click)="getImage()">Get Image</button>
    </ion-item>
    <ion-item>
      <h4>Image Preview</h4>
      <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
    </ion-item>
    <ion-item>
      <button ion-button (click)="uploadFile()">Upload</button>
    </ion-item>
</ion-content>